.about {
  margin-top: 10rem;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.illustration,
.intro {
  max-width: 50%;
}

.intro {
  margin-top: 2rem;
  margin-left: 4rem;
}

.imageContainer {
  position: relative;
  right: 200px;
}

.title {
  font-family: var(--heading-font);
  color: var(--heading-color);
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 15px;
  line-height: 50px;
  text-transform: uppercase;
}

.paragraph {
  margin-bottom: 1rem;
}

.button {
  width: 10rem;
  height: 3rem;
  font-family: var(--heading-font);
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 4px;
  background-origin: border-box;
  background-clip: content-box, border-box;
  color: #fff;
  background-image: linear-gradient(to right, #4458dc 0%, #854fee 100%),
    radial-gradient(circle at top left, #4458dc, #854fee);
  box-shadow: 0 10px 30px rgb(118 85 225 / 30%);
}

