.about {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.container {
  composes: container from './common.module.css';
}

.illustration {
  display: none;
}

.title {
  font-size: var(--text-xl);
  font-weight: var(--text-medium);
  margin-bottom: 2rem;
  text-transform: uppercase;
  text-align: center;
}

.solidButton {
  composes: solidButton from './common.module.css';
  display: block;
  margin: 4rem auto 0;
}

.paragraph {
  font-size: var(--text-sm);
  margin-bottom: 1rem;
  line-height: 2;
}

.icon {
  font-weight: var(--text-black);
  margin-right: 0.5rem;
}

@media (min-width: 992px) {
  .about {
    padding-top: 10rem;
  }

  .container {
    display: flex;
    align-items: center;
    column-gap: 4rem;
  }

  .content {
    flex: 1;
  }

  .illustration {
    flex: 1;
    display: block;
    position: relative;
    padding-top: 40%;
  }

  .title {
    font-size: var(--text-2xl);
  }

  .paragraph {
    font-size: var(--text-base);
  }
}
