.banner {
  padding-top: 10rem;
  padding-bottom: 4rem;
  background: url('/banner-bg.png') no-repeat;
}

.container {
  composes: container from './common.module.css';
}

.illustration {
  display: none;
}

.hello {
  display: flex;
  align-items: center;
  column-gap: 2rem;
  font-size: var(--text-2xl);
  font-weight: var(--text-medium);
  color: var(--color-text);
  text-transform: uppercase;
}

.line {
  flex: 1;
  height: 0.25rem;
  background: var(--color-text);
}

.name {
  font-size: var(--text-3xl);
  font-weight: var(--text-medium);
  color: var(--heading-color);
  margin-top: 0.5rem;
}

.role {
  font-size: var(--text-lg);
  font-weight: 500;
  text-transform: uppercase;
  color: var(--heading-color);
  margin-top: 1rem;
}

.buttonGroup {
  margin-top: 2rem;
  display: flex;
  column-gap: 1rem;
}

.solidButton {
  composes: solidButton from './common.module.css';
  flex: 1;
}

.outlinedButton {
  composes: outlinedButton from './common.module.css';
  flex: 1;
}

@media (min-width: 992px) {
  .container {
    display: flex;
    align-items: center;
    column-gap: 4rem;
  }

  .greeting {
    flex: 1;
  }

  .illustration {
    flex: 1;
    display: block;
    position: relative;
    padding-top: 40%;
  }

  .hello {
    font-size: var(--text-3xl);
  }

  .name {
    font-size: var(--text-4xl);
  }

  .role {
    font-size: var(--text-xl);
  }
}
