.contact {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.container {
  composes: container from './common.module.css';
  background: url('/contact-bg.webp') no-repeat;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.title {
  color: var(--color-text-contrast);
  font-size: var(--text-xl);
  font-weight: var(--text-bold);
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 2rem;
}

.input {
  width: 100%;
  line-height: 1.5;
  padding: 1rem;
  border: 1px solid var(--color-border);
  background: none;
  border-radius: 4px;
  color: var(--color-text-contrast);
  margin-bottom: 2rem;
}

.input::placeholder {
  color: var(--color-text-contrast);
}

.button {
  composes: outlinedButton from './common.module.css';
  width: 100%;
}

@media (min-width: 992px) {
  .contact {
    padding-top: 10rem;
    padding-bottom: 4rem;
  }

  .title {
    font-size: var(--text-2xl);
  }

  .form {
    text-align: center;
  }

  .input {
    width: 40rem;
  }

  .button {
    display: block;
    width: 12rem;
    margin: auto;
  }
}

@media (min-width: 1200px) {
  .container {
    background-size: 100%;
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}
