.footer {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.container {
  composes: container from './common.module.css';
  text-align: center;
}

.title {
  font-size: var(--text-lg);
  font-weight: var(--text-medium);
  margin-top: 1rem;
  text-transform: uppercase;
}

.group {
  display: flex;
  justify-content: center;
  column-gap: 1rem;
  margin-top: 1.5rem;
}

.copyright {
  margin-top: 1.5rem;
}
