.footer {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  text-align: center;
}

.title {
  font-family: 'Rubik', sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: #000000;
  margin-top: 1rem;
  text-transform: uppercase;
}

.group {
  display: flex;
  column-gap: 1rem;
  justify-content: center;
  margin-top: 2rem;
}

.copyright {
  margin-top: 2rem;
}
