:root {
  --heading-font: 'Rubik', sans-serif;
  --content-font: 'Roboto', sans-serif;
  --text-xs: 0.75rem;
  --text-sm: 0.875rem;
  --text-base: 1rem;
  --text-lg: 1.125rem;
  --text-xl: 1.25rem;
  --text-2xl: 1.5rem;
  --text-3xl: 1.875rem;
  --text-4xl: 2.25rem;
  --text-5xl: 3rem;
  --text-6xl: 3.75rem;
  --text-7xl: 4.5rem;
  --text-8xl: 6rem;
  --text-9xl: 8rem;

  --primary-color: #4458dc;
  --content-color: #777777;
  --heading-color: #000000;
  --header-color: #ffffff;
  --card-color: #f9f9fd;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

html,
body,
button,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

body {
  line-height: 26px;
  font-size: 15px;
  font-family: var(--content-font);
  font-weight: 400;
  color: #777;
  background: url('/body-bg.png') no-repeat center;
}
