:root {
  --color-primary: #4458dc;
  --color-secondary: #854fee;
  --color-background: #fff;
  --color-background-secondary: #000;
  --color-text: #1f2937;
  --color-text-contrast: #fff;
  --color-border: #eee;
  --color-box-shadow: rgba(156, 163, 175, 0.1);

  --font-body: 'Rubik', sans-serif;

  --text-sm: 14px;
  --text-base: 16px;
  --text-lg: 18px;
  --text-xl: 24px;
  --text-2xl: 36px;
  --text-3xl: 40px;
  --text-4xl: 70px;
  --text-5xl: 100px;

  --text-medium: 500;
  --text-bold: 700;
  --text-black: 900;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ol,
ul {
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background: url('/body-bg.png') no-repeat center;
}

body,
button,
textarea,
input {
  font-family: var(--font-body);
  color: var(--color-text);
}
