.projects {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.container {
  composes: container from './common.module.css';
}

.title {
  font-size: var(--text-xl);
  font-weight: var(--text-medium);
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 4rem;
}

.card {
  width: 100%;
  margin-bottom: 2rem;
}

.cardImage {
  position: relative;
  width: 100%;
  padding-top: 100%;
  border-radius: 6px;
  overflow: hidden;
}

.cardTitle {
  font-size: var(--text-lg);
  text-transform: uppercase;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.paragraph {
  font-size: var(--text-sm);
}

@media (min-width: 768px) {
  .cardGroup {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .card {
    width: 45%;
    margin-bottom: 4rem;
  }
}

@media (min-width: 992px) {
  .projects {
    padding-top: 10rem;
  }

  .title {
    font-size: var(--text-2xl);
  }

  .cardTitle {
    font-size: var(--text-xl);
  }

  .paragraph {
    font-size: var(--text-base);
  }
}

@media (min-width: 1200px) {
  .card {
    width: 22%;
  }
}
